.list-view-pf-top-align {
  .list-view-pf-additional-info,
  .list-view-pf-description {
    align-self: flex-start;
  }
}

.cloudmeter-view-container {
  .toolbar-pf {
    border-top: 1px solid $color-pf-black-300;

    .refresh-button.btn-link {
      padding-left: 5px;
      padding-right: 5px;
    }

    .last-refresh-time {
      font-size: $font-size-small;
      margin-left: 5px;
      position: relative;
      top: -1px;
    }

    .toolbar-pf-actions > :first-child {
      padding-left: 0;
    }

    .toolbar-pf-results .cloudmeter-view-count {
      float: right;
      margin-right: 0;
    }

    @media (min-width: $screen-sm-min) {
      .toolbar-pf-actions .toolbar-pf-filter {
        padding-left: 20px;
      }
    }
  }
}

// Hacking the breadcrumbs to add a white background.
.cloudmeter-breadcrumb {
  background: #fff;
  margin-bottom: 0;
  padding: 20px ($grid-gutter-width / 2);
  margin-left: -$grid-gutter-width / 2;
  margin-right: -$grid-gutter-width / 2;

  > .active strong {
    font-size: 18px;
    font-weight: 400;
  }
}

// Card info structure
.cloudmeter-card-info {
  display: flex;
  align-items: center;
  
  > * {
    margin-right: 5px;
  }

  abbr {
    padding: 2px 0;
    display: inline-block;
  }

  strong {
    font-size: 26px;
    font-weight: 300;
  }
}

.cloudmeter-utilization-graph {
  position: relative;
  padding-bottom: 60px;

  .chart-pf-sparkline {
    position: absolute!important;
    bottom: 20px;
    left: 0;
    padding-left: 20px;
    padding-right: 20px;
    width: calc(100% - 40px);
  }
}

// ToDo: Eval the loading style
.cloudmeter-utilization-graph-loading {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100px;
  padding-bottom: 0;
}

//1. hacking the card so it can contain a list view inside and align with the other cards
.cloudmeter-list-view-card {
  padding: 0; //1.
  border-top: none; //1.
}

.cloudmeter-list-view {
  margin: 0; //1.

  .list-view-pf-description {
    overflow: hidden;
  }

  .list-group-item-heading {
    @media (min-width: $screen-md-min) {
      flex-basis: calc(50% - 20px);
      width: calc(50% - 20px);
      word-wrap: break-word;
    }
  }

  .list-group-item-text {
    @media (min-width: $screen-md-min) {
      width: calc(50% - 40px);
    }
  }

  .list-view-pf-actions {
    .btn-link {
      color: $color-pf-black-700;

      .pficon, .fa {
        font-size: 14px;
      }

      &:hover, &:focus {
        color: $color-pf-blue;
      }
    }

    .dropdown.btn-group {
      margin-left: 10px;
    }
  }

  .list-view-pf-left .pficon.list-view-pf-icon-sm,
  .list-view-pf-left .fa.list-view-pf-icon-sm {
    border: 0;
  }

  .list-group-item-container {
    display: flex;
    align-items: stretch;
    flex-direction: row;

    .container-fluid {
      padding-right: 40px;
      flex: 1 1 auto;

      .dropdown.btn-group {
        .dropdown-toggle {
          color: $color-pf-black-700;

          &:hover, &:focus {
            color: $color-pf-blue;
          }
        }
      }
    }

    // Within an expansion area, make blank slate become a single line, no background, no borders
    .blank-slate-pf {
      background: transparent;
      border: none;
      padding: 10px 20px;

      .blank-slate-pf-icon {
        font-size: 22px;
        line-height: 22px;
        float: left;
      }

      .blank-slate-pf-title {
        font-size: 12px;
        line-height: 22px;
        text-align: left;
        margin-top: 0;
        margin-left: 10px;
        float: left;
      }

      .blank-slate-pf-info {
        float: left;
        margin-left: 10px;
      }
    }
  }
}

.cloudmeter-listview-infoitem,
.cloudmeter-listview-label {
  @media (min-width: $screen-md-min) {
    flex: 1;
    white-space: nowrap;
  }
}

.cloudmeter-listview-label-has-badge strong {
  min-width: 25px;
  display: inline-block;
  text-align: right;
}

.cloudmeter-listview-label-hidden {
  visibility: hidden;
}

.blank-slate-pf {
  &.full-page-blank-slate {
    border: none;
  }

  &.list-view-blank-slate {
    background-color: transparent;
    border: none;
    height: 100%;
    margin: 0 20px;
  }

  button {
    width: 155px;
  }
}

.list-view-info-item-icon-count {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 95px;

  &.empty-count {
    font-style: italic;
    opacity: 0.8;
  }
}

.list-view-pf-actions .dropdown.btn-group {
  margin-left: 10px;
}

.pficon.pficon-disconnected.is-error::before {
  color: $color-pf-red-100;
}
